
<% unless flash[:notice].nil?%>
    <div class="alert alert-success fade in">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <strong>Genial, </strong> <%= flash[:notice]%>
    </div>
<% end%>

<div class="row text-center ">
  <div class="span12">

    <div class="offset4 span4 offset4"> </br>

      <h1>Mis Datos</h1>

      <%= render 'form' %>

    </div>
  </div>
  </div>


<%#= link_to 'Show', @user %>
<%#= link_to 'Back', users_path %>
