<div class="row">
  <div class="span8">
<h1 class="text-center">Usuarios en el shopping</h1>



  <div class="row-fluid"></br>
    <div class="span12">
      <div class="row-fluid">
        <div class="offset0 span12 offset0">

          <div id="users_list">

          <% @users.each do |user| %>




              <div class="span6 info-block">
                <h4><span class="color-text"><%= user.email %></span></h4>
                <div class="info-text"><b>¿Qué busca?:</b> <%= user.need%></div>
                <div class="info-text"><b>Ofertas Activas:</b> <%= user.directed_offers.count%></div>
                <div class="info-text"><%= link_to 'Ver detalles', user_path(user), :class => "btn btn-danger" %></div>

              </div>



<% end %>

        </div>
      </div>

    </div>
  </div>
  </br>
  </br>
</div>

<br />

  </div>
</div>

<script type="text/javascript">

    update_users = function() {

        $.getJSON("http://localhost:3000/users.json", function(result) {
            $("#users_list").empty();

            $.each(result, function(elem) {

                var other_offers = "";

                var offers =0;
                $.each(result[elem].directed_offers, function(o) {
                    offers = offers +1;


                   other_offers += "<li>Local: "+result[elem].directed_offers[o].company.name+"</li><li>Oferta: "+result[elem].directed_offers[o].description+"</li>";
                });
                           console.log("<li><a href='/offers/directed_offer?user_id='"+result[elem].id+">Nueva oferta</a></li>")
                $("#users_list").append("<div class='span6 info-block'>"+
                        "<h4><span class='color-text'>"+result[elem].email+"</span></h4>"+
                        "<div class='info-text'><b>¿Qué busca?:</b> "+result[elem].need+"</div>"+
                        "<div class='info-text'><b>Ofertas Activas:</b> "+offers+"</div>"+

                        "<div class='info-text'><a href='/users/"+result[elem].id+"' class='btn btn-danger'>Ver detalles</a></div>"+
                        "</div>");
            })

            setTimeout(function() {update_users()}, 5000);
        });

    }

    $().ready(function() {

        setTimeout(function() {update_users()}, 5000);
    });
</script>

