
<div class="span12">
  <div class="offset1 span8">
    <!--<img class="row" src="/assets/lala.png"> </br>-->

    <div class="hero-unit">
      <h1 class="pagination-centered">Unicenter</h1>

      <p class="text-center">Shopping</p>

      <!--<p> xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx-->
        <!--xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx-->
        <!--xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx-->

      </p>
    </div>

    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Horarios</a></li>
        <li><a href="#tab2" data-toggle="tab">Contacto</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <p>Horarios de atención:</p>
        </div>
        <div class="tab-pane" id="tab2">
          <p>Datos de contacto:</p>
        </div>
      </div>
    </div>

    <% if current_user.present? %>

        <%= gmaps("map_options" => { "detect_location" => true, "center_on_user" => true, "auto_adjust" => true, "auto_zoom" => false},"markers" => { "data" => @json }) %>

        <% content_for :scripts do %>
            <script type="text/javascript">
                $().ready(function () {

                    Gmaps.map.geolocationSuccess = function() {
                        Gmaps.map.createMarker({Lat: Gmaps.map.userLocation.lat(),
                            Lng: Gmaps.map.userLocation.lng(),
                            rich_marker: null,
                            marker_picture: ""
                        });

                        var user_id = "<%= current_user.id %>";

                        $.post("http://localhost:3000/users/"+user_id+"/address", {
                            lat : Gmaps.map.userLocation.lat(),
                            lng : Gmaps.map.userLocation.lng()
                        });

                        var origin = new google.maps.LatLng(Gmaps.map.userLocation.lat(), Gmaps.map.userLocation.lng());
                        var destination = new google.maps.LatLng(Gmaps.map.markers[0].lat, Gmaps.map.markers[0].lng);

                        var service = new google.maps.DistanceMatrixService();
                        service.getDistanceMatrix(
                                {
                                    origins: [origin],
                                    destinations: [destination],
                                    travelMode: google.maps.TravelMode.DRIVING,
                                    unitSystem: google.maps.UnitSystem.METRIC,
                                    avoidHighways: false,
                                    avoidTolls: false
                                }, callback);

                        function callback(response, status) {
                            console.log(response);
                        }
                    }

                })
            </script>
        <% end %>

    <% else %>

        <b>Por favor ingrese</b>

    <% end %>

    <a><%= link_to "Logout", destroy_user_session_path, method: :delete %></a>

  </div>
</div>
