<h1 class="text-center text-info">Nueva Oferta</h1>

<div class="row text-center " >
  <div class="span12">

    <div class="offset2 span8 offset2"> </br>

<%= render 'form' %>

      </div>
  </div>
</div>

<%= link_to 'Back', offers_path %>
