<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shopping.name %>
</p>
<h2>Hay <%=@companies_count%> locales esperandote</h2>

<p>Ofertas</p>

<script type="text/javascript">
    $().ready(function() {
        //setTimeout(function() {window.location.reload()}, 5000);
    });
</script>

